<div class="p-component flex justify-content-center h-screen">

  <!-- Login -->
  <div class="my-auto border-round-xl pb-3 px-5 bg-cyan-100">
    <h1 class="text-center">Corposides</h1>
    <!-- Email -->
    <div class="field flex flex-column">
      <label for="username" class="block">Username</label>
      <input id="username" type="username" aria-describedby="username-help" pInputText placeholder="ejemplo@mail.com" />
      <!-- password -->
      <label for="password" class="mt-3">Contraseña</label>
      <p-password [(ngModel)]="password" [toggleMask]="true" weakLabel="Debil" mediumLabel="Regular"
        strongLabel="Fuerte" promptLabel="Ingrese una contraseña" id="password" [feedback]="false"
        placeholder="xxxxxxxx">
        <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <p class="mt-2">Sugerencias</p>
          <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <li>Al menos una minúscula</li>
            <li>Al menos una mayúscula</li>
            <li>Al menos un número</li>
            <li>Mínimo 8 caracteres</li>
          </ul>
        </ng-template>
      </p-password>
    </div>
    <!-- Button -->
    <div class="text-center">
      <button pButton type="button" label="Iniciar Sesión"></button>
    </div>
  </div>

</div>
